.grant {
  background-color: $color-default-blue;
  color: $color-default-white;
}

.grant__wrapper {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 138px;

  @include vp-1439 {
    flex-direction: column;
    gap: 45px;
    padding-top: 98px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    gap: 36px;
    padding-top: 69px;
    padding-bottom: 67px;
  }
}

.grant__content {
  width: 498px;

  @include vp-1439 {
    width: 100%;
  }
}

.grant__title {
  margin-bottom: 29px;
  margin-top: 4px;

  @include vp-1439 {
    margin-bottom: 28px;
    margin-top: 0;
  }

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.grant__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 33px;

  color: $color-default-beige;

  @include vp-1439 {
    line-height: 20px;
    padding-right: 160px;
    margin-bottom: 36px;
  }

  @include vp-767 {
    font-size: 14px;
    padding-right: 0;
    margin-bottom: 25px;
  }
}

.grant__image {
  border-radius: 16px;
}
