.hero__slider {
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bottom: 357px;

  @include vp-1439 {
    --swiper-pagination-bottom: 324px;
  }

  @include vp-767 {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bottom: 337px;
  }
}

.hero__image {
  position: relative;
  z-index: -1;

  &::after {
    content: "";
    background-color: rgb(49, 109, 194, 0.2);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.hero__image img{
  width: 100%;
  height: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 419px;
  padding-bottom: 50px;

  @include vp-1439 {
    padding-top: 676px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-top: 213px;
    padding-bottom: 50px;
  }
}

.hero__decor{
  display: flex;
  align-items: flex-end;
}

.hero__pagination-wrapper {
  display: flex;
  width: 94px;
  height: 38px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;

  @include vp-767 {
    width: 80px;
    height: 28px;
    border-radius: 12px 12px 0 0;
  }
}

.hero__pagination-wrapper + .hero__angle {
  width: 20px;
  height: 20px;

  @include vp-767 {
    width: 10px;
    height: 10px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  width: 968px;
  background-color: $color-default-white;
  padding-top: 41px;
  padding-left: 50px;
  padding-bottom: 29px;
  border-radius: 0 30px 30px 0;

  @include vp-1439 {
    font-size: 36px;
    line-height: 44px;
    width: 659px;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    border-radius: 0 16px 16px 0;
  }
}

.hero__title + .hero__decor {
  align-items: flex-start;
}

.hero__description-more {
  display: flex;
  align-items: flex-start;
  color: $color-default-black;

  @include vp-1439 {
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
}

.hero__description-wrapper + .hero__decor {
  align-items: flex-start;
}

.hero__description-wrapper {
  display: flex;
}

.hero__description-wrapper > .hero__angle {
  display: none;

  @include vp-767 {
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
  }
}

.hero__description {
  margin: 0;
  width: 446px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: $color-default-white;
  padding-left: 50px;
  padding-bottom: 28px;
  margin-top: -7px;
  border-radius: 0 0 0 30px;

  @include vp-1439 {
    line-height: 20px;
    width: 285px;
    padding-left: 40px;
    padding-bottom: 12px;
    margin-top: -4px;
  }


  @include vp-767 {
    font-size: 14px;
    width: 267px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 10px;
    margin-top: -5px;
    border-radius: 0 0 14px 0;
  }
}

.hero__button-wrapper {
  background-color: $color-default-white;
  padding: 0 50px 40px 80px;
  border-radius: 0 0 30px 0;
  display: flex;

  @include vp-1439 {
    padding: 0 40px 54px 70px;
    margin-top: -4px;
  }

  @include vp-767 {
    padding: 10px 15px;
    border-radius: 0 0 14px 14px;
  }
}

.hero__button-wrapper + .hero__angle {
  transform: rotate(90deg);
  width: 26px;
  height: 26px;

  @include vp-767 {
    width: 10px;
    height: 10px;
  }
}

.hero__button {
  padding-left: 29px;
  padding-right: 79px;
  margin-top: 5px;

  @include vp-1439 {
    margin-top: 4px;
  }

  @include vp-767 {
    padding-left: 19px;
    padding-right: 57px;
  }
}

.swiper-pagination.hero__pagination {
  left: 100px;
  display: flex;
  justify-content: center;
  width: 94px;

  @include vp-1439 {
    left: 45px;
  }

  @include vp-767 {
    left: 8px;
  }
}

.hero__pagination > .swiper-pagination-bullet {
  border: 1px solid $color-default-blue;
  background-color: $color-transparent;
  opacity: 1;
}

.hero__pagination > .swiper-pagination-bullet-active {
  background-color: $color-default-blue;
}
