// Default

$color-default-black: #484848;
$color-default-blue: #316dc2;
$color-default-white: #ffffff;
$color-default-beige: #f0efe9;
$color-transparent: rgba(255, 255, 255, 0);

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-manrope: "Manrope", "Arial", sans-serif;
$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-placeholder: "Placeholder", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;
